<html>
    <head>
        <meta charset = "UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <link rel="stylesheet" type="text/css"href="employee.css">

    </head>
    <body ng-app="myApp" ng-controller="cntrl" >
        <div id="myForm">
            <form ng-submit="insertData(emp) ; reloadRoute()" >
                <h1 id="formHead">Add employee</h1>
            <label>Employee ID:</label>  <input type="text" ng-model="emp.id" name="emp.id" required/><br> <br>
                <label>Name:</label> <input type="text" ng-model="emp.name" name="emp.name" required/><br> <br>
                <label>Gender:</label>    
                <input type="radio" ng-model="emp.gender" name="emp.gender" value="male" checked required/> Male  
                <input type="radio" ng-model="emp.gender" name="emp.gender" value="female" required/> Female<br><br>
                <label>Email:</label>  <input type="text" ng-model="emp.email" name="emp.email" name="emp.email" required/> <br> <br>
                <label>Address:</label>  <input type="text" ng-model="emp.address" name="emp.address"  required/><br> <br>
                <input ng-model="emp.add" name="emp.add" type="submit" value="add"  style="margin: 5px;" ng-hide= "IsHidden"/> 
                <input id="y"ng-model="emp.edit" name="emp.gender" type="button" value="edit" style="margin: 5px;"  ng-click="editRecord(emp); reloadRoute()" ng-hide= "!IsHidden" /> 
                
                <br> <br>
            </form>
        </div>
        <table >
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>gender</th>
                    <th>email</th>
                    <th>address</th>
                    <th> </th>
                    <th> </th>

                </tr>
            </thead>
            <tbody>
               
                <tr ng-repeat="x in employees">
                    <td name="id" id="id" >{{x.id}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.gender}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.address}}</td>
                    <td><input type="button" value="edit" ng-click="edit(x) ; ShowHide()" style="width: 100%; height: 100%;"/></td>
                    <td><input type="button" value="delete" ng-click="delete(x.id); reloadRoute()"style="width: 100%; height: 100%;"/></td>
                </tr>
            </tbody>
        </table>
        <script>
            var app = angular.module('myApp' , []); 
            app.controller('cntrl', function($scope, $http){
                $scope.IsHidden = false ; 
                $scope.ShowHide = function () {
                    
                //If DIV is hidden it will be visible and vice versa.
                //$scope.IsHidden = $scope.IsHidden ? false : true;
                $scope.IsHidden = true ; 
                } 
                $http.get('/employees').then(function(data) {
                    $scope.employees = data.data;
                });



                 $scope.insertData = function(emp){
                     
                    data = angular.toJson($scope.form); 
                    $http.post('/employees', emp ).then(function(response){

                    })
                } 
              

                $scope.delete=function(id){
                    $http({
                        method: 'DELETE',
                        url: '/employees',
                        data: {'id': id},
                        headers: {'Content-Type': 'application/json;charset=utf-8'}


                    })

                }

                $scope.edit= function(emp){
                   // alert(emp.name); 
                   $scope.emp = {
                    id: emp.id,
                    name: emp.name, 
                    gender : emp.gender,
                    email : emp.email, 
                    address : emp. address
                }; 

                }
                $scope.editRecord = function(emp){
                    $http({
                        method: 'PUT',
                        url: '/employees',
                        data: {'id': emp.id , 'name' : emp.name, 'gender': emp.gender, 'email' : emp.email, 'address': emp.address},
                        headers: {'Content-Type': 'application/json;charset=utf-8'}
                    })

                }
                

                $scope.reloadRoute = function() {
                    window.location.reload();
                }

                
                   
            });
        
        </script>
    
    </body>
</html>

